<!DOCTYPE html>
<html>
<head>
    <title>Shit Francisco says</title>
    <link rel="stylesheet" href="shared/style.css" />
</head>
<body>
    <div class="title">
        <img src="shared/logo.png" alt="Shit Francisco Says" />
    </div>
    <div class="posts">
        {% if posts %}
        <ul>
            {% for post in posts %}
            <li>
                <date>{{ post.date }}</date>
                <p>{{ post.message }}</p>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Francisco has apparently said nothing.</p>
        {% endif %}
    </div>
    <div class="add">
        <form>
            <textarea name="message" placeholder="New shit francisco just said"></textarea>
            <button type="submit">Add new thing</button>
        </form>
    </div>
</body>
<html>
