body {
    background: url('stickerbomb.jpg') #000;
    margin: 0;
    padding: 0;
    color: #333;
}
.error {
    clear: both;
    font-size: 100px;
    background: white;
    margin-top: 50px;
    padding: 200px 2em;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.title {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 35px;
    background: rgba(0,0,0,0.8);
    padding: 10px;
    float: right;
}

.posts {
    clear: both;
}
.posts > ul {
    clear: both;
    margin: 0;
    list-style: none;
    padding: 10px 0 0 0;
}

.posts > ul li {
    float: right;
    background: white;
    padding: 1em;
    margin: 0.5em;
}
.posts > p {
    text-align: center;
    background: white;
    padding: 5em;
}

.add {
    clear: both;
    padding: 5em 1em 0;
    text-align: right;
}
.add textarea {
    outline: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 25px;
    min-height: 7em;
    border: 1px solid #aaa;
    color: #aaa;
    padding: 0.3em;
    opacity: 0.6;
}
.add textarea:focus {
    color: #000;
    opacity: 1;
}
.add button {
    border: none;
    background: #fa0;
    padding: 0.5em;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.add button:hover,
.add button:focus {
    background: #e90;
}
